form {
  margin-top: 16px;
}

form label {
  display: inline-block;
  width: 200px;
  font-size: 20px;
}

form label[for="status"] {
  width: fit-content;
  margin-right: 8px;
}

form > div:not(:last-child) {
  margin-bottom: 16px;
}

form input {
  width: 100%;
  padding: 8px 16px;
}

form select {
  padding: 8px 16px;
}

form .action {
  display: flex;
  gap: 16px;
}
