:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  --primary-color: rgb(50, 50, 113);
  --bg-color: #fff;
  --text-color: #000;
  --bg-table-row: #ccc;
}

.dark-theme {
  --bg-color: rgb(39, 39, 51);
  --text-color: #fff;
  --bg-table-row: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.1s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
