table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  background: var(--bg-color);
  color: var(--text-color);
}

table thead {
  border-bottom: 1px solid;
}

table td {
  text-align: center;
  padding: 8px;
}

table th {
  padding: 32px;
  font-size: 20px;
}

table tbody tr:nth-child(odd) {
  background: var(--bg-table-row);
}

table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--text-color);
}

table td.name {
  width: 400px;
}

table td.action {
  width: 300px;
}

table td.action > div {
  display: flex;
  gap: 8px;
  justify-content: center;
}

table td.action > div .edit-btn {
  color: white;
}

table td.action > div .delete-btn {
  background: #fff;
  color: #000;
}

table td .status {
  border-radius: 22px;
  background: green;
  padding: 4px 8px;
  color: white;
}

table td .status-inactive {
  background: orange;
}

h2 {
  margin-bottom: 16px;
}
